{% extends "layout.html" %}

{% block main %}
  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
           background-image: url('{{url_for('static', filename='img/croc_bg.png')}}'); background-size: contain;
background-repeat: initial;
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Crocodilagem Festas!</h1>
          {#<h4 class="mb-3">Subheading</h4>#}
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
          >Marque já a sua!</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->



  </body>

  <main class="container">
    <h2 style="margin-bottom: 32px;">Veja aqui um pouco de nossas festas e certamente irá querer marcar conosco! </h2>
    <div id="carouselExampleCrossfade" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselExampleCrossfade"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleCrossfade"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleCrossfade"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner" style="max-height: 300px">
    <div class="carousel-item active">
      <img src="{{url_for('static', filename='/img/examples/party01.png')}}" class="d-block w-100 h-100" alt="Wild Landscape"/>
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='/img/examples/party02.png')}}" class="d-block w-100 h-100" alt="Wild Landscape"/>
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='/img/examples/party03.png')}}" class="d-block w-100 h-100" alt="Wild Landscape"/>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </main>


<style>
.carousel-item{
  height: 100%;
}
.carousel-item img{
  height: 100%;
  object-fit: contain;
}
.carousel-item.active{
  height: 100%;
}
</style>
{% endblock %}
