{% extends "layout.html" %}


{% block main %}

<div id="message">
  
</div>

<form id="register_form">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="first_name"class="form-control" />
        <label class="form-label" for="form3Example1">First name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="last_name" class="form-control" />
        <label class="form-label" for="form3Example2">Last name</label>
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email"id="email" class="form-control" />
    <label class="form-label" for="form3Example3">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password" class="form-control" />
    <label class="form-label" for="form3Example4">Password</label>
  </div>


  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

  </div>
</form>

<script>
    let $form = document.querySelector("#register_form");
    $form.addEventListener("submit", function(e){
        e.preventDefault()
        sendData();
    })
    function sendData(){

    const URL="/api/auth/register"
    let data = {
        first_name: document.querySelector("#first_name").value,
        last_name: document.querySelector("#last_name").value, 
        email: document.querySelector("#email").value, 
        password: document.querySelector("#password").value, 
    } 
    fetch(URL, {
        method: "POST",
        headers:{
            "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
    })
    .then( r => r.json())
    .then( r => {
        console.log(r)
        if(r.success == false){
        let msg = document.querySelector("#message");
        console.log(msg)
        msg.innerHTML = `<div class="p-3 mb-2 bg-danger bg-gradient text-white">Erro ao criar conta. Tente novamente</div>`
        }
    })
    .catch(error => { 
        
        let msg = document.querySelector("#message");
        msg.innerHtml = `<div class="p-3 mb-2 bg-danger bg-gradient text-white">Erro ao criar conta. Tente novamente</div>`
    })
    }

</script>
{% endblock %}
